*{
    margin: 0;
    padding: 0;
}

.header{

}
.logo{
    background-color: red;
    width: 20%;
    float: left;
    text-align: center;
}
.menu{
    background-color: dimgrey;
    width: 80%;
    float: left;
    text-align: center;
}

.m-left{
    float: left;
    width: 20%;
    height: 400px;
    background-color: forestgreen;
    text-align: center;
}
.m-center{
    float: left;
    width: 60%;
    height: 400px;
    background-color: aliceblue;
    text-align: center;
    overflow: hidden;
}
.m-right{
    float: left;
    width: 20%;
    height: 400px;
    background-color: pink;
    text-align: center;
}
.top{
    height: 100px;
    background-color: firebrick;
}
.middle{
    height: 200px;
    background-color: fuchsia;
    
}
.bottom{
    height: 100px;
    background-color: rebeccapurple;
}
.middleleft{
    width: 50%;
    background-color: darkkhaki;
    float: left;
    height: 100%;
}
.middleright{
    width: 50%;
    background-color: darkslategray;
    float: left;
    
}
.footer{
    background-color: purple;
    text-transform: uppercase;
    text-align: center;
}

.header{
    background-color: chocolate;
    text-align: center;
    height: 50px;
}
.content-left{
    width: 33%;
    background-color: forestgreen;
    float: left;
    height: 500px;
}
.content-left-top{
    height: 50%;
    background-color: red;
}
.content-left-bottom{
    height: 50%;
    background-color: saddlebrown;
}
.content-right-top{
    height: 33%;
    background-color: coral;
}
.content-right-middle{
    height: 33%;
    background-color: teal;
}
.content-right-bottom{
    height: 33%;
    background-color: lemonchiffon;
        overflow: hidden;
}

.content-middle{
    width: 34%;
    background-color: hotpink;
    float: left;
    height: 500px;
}
.content-right{
    width: 33%;
    background-color: darkcyan;
    float: left;
    height: 500px;

}

.crb-left{
    width: 50%;
    float: left;
    height: 100%;
    background-color: chartreuse;
}
.crb-right{
    width: 50%;
    float: left;
    height: 100%;
    background-color: orchid;
}

/* ------------------------------------- */
.layout3{
    
    overflow: hidden;
}
.hpart1{
    background-color: aqua;
    width: 30%;
    float: left;
    height: 80px;
}
.hpart2{
        background-color: coral;
    width: 10%;
    float: left;
    height: 80px;
}
.hpart3{
        background-color: indianred;
    width: 30%;
    float: left;
    height: 80px;
}
.hpart4{
            background-color: gold;
    width: 30%;
    float: left;
    height: 80px;
}
.cpart1{
    background-color: indianred;
    width: 25%;
    float: left;
    height: 400px;
}
.top1{
    height: 100px;
    background-color: black;
}
.top2{
    height: 100px;
    background-color: crimson;
}
.top3{
    height: 100px;
    background-color: rebeccapurple;
}
.top4{
    height: 100px;
    background-color: orchid;
}
.cpart2{
    background-color: chocolate;
    width: 25%;
    float: left;
    height: 400px;
}

.cpart3{
    background-color: violet;
    width: 25%;
    float: left;
    height: 400px;
}
.cpart4{
    background-color: coral;
    width: 25%;
    float: left;
    height: 400px;
}

.fpart1{
    background-color: aquamarine;
    height: 100px;
    width: 50%;
    float: left;
}
.fpart2{
    background-color: antiquewhite;
    height: 100px;
    width: 50%;
    float: left;
}























